<!DOCTYPE html>
<html>

<head>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
  <meta charset="utf-8" />
  <title>first vue app</title>
</head>

<body>
  <div id="app">
    <div>
      <!-- {{ formatTime }} -->
      スコア: {{ score }}点 / 残り秒数: {{ timer }}秒<br>
      <img :src="`/images/dice${qDice}.png`" :style="{width: '100px'}">
      <!-- {{ key }} / {{ keyCode }} -->
      <img :src="`/images/dice${dice}.png`" :style="{width: '100px'}">
      <!-- <button v-on:click="start" v-if="!timerOn">Start</button>
      <button v-on:click="stop" v-if="timerOn">Stop</button> -->
    </div>
  </div>
</body>
<script src="https://unpkg.com/vue@2"></script>
<script src="main.js"></script>

</html>